target/
*.class
*.jar
*.war
*.ear
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
converted-files/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*.log
.env
application-local.properties
